.app {
  position: relative;
  display: flex;
  background: $background-color;
  max-width: 1920px;
  min-width: 320px;
  min-height: $min-height;

  @extend %extend-margins;
}

@include desktopMax {
  .app {
    max-width: 1600px;
  }
}

@include desktopMin {
  .app {
    max-width: 1440px;
  }
}
