$font-size-default: 'Comfortaa', Arial, sans-serif;
$background-color: #F3F6FD;
$color-default: #000000;
$color-blue: #5051F9;
$color-white: #FFFFFF;
$color-light-purple: #EDECFE;
$box-sizing: border-box;
$min-height: 100vh;
