$font-family-default: 'Comfortaa', Arial, sans-serif;
$background-color: #F3F6FD;
$color-default: #000000;
$color-blue: #5051F9;
$color-white: #FFFFFF;
$color-light-purple: #EDECFE;
$box-sizing: border-box;
$min-height: 100vh;
$border-error: 1px solid red;
$breakpoint_desktopMax: 1780px;
$breakpoint_desktopMin: 1540px;
$breakpoint_laptopMax: 1380px;
$breakpoint_laptopMin: 1140px;
$breakpoint_tablet: 930px;
$buttonPopupClose: url(../images/close.svg);
$buttonHabbitDelete: url(../images/delete.svg);

