.header__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;

  @extend %extend-margins;
}

@include laptopMin {
  .header__container {
    min-width: 190px;
  }
}
