.header__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 235px;

  @extend %extend-margins;
}

@include laptopMin {
  .header__container {
    width: 190px;
  }
}

@include phoneMax {
  .header__container {
    width: 120px;
    gap: 6px;
  }
}
