.menu__button-add {
  border: 1px solid #CAD5FF;
  background: none;

  @extend %extend-margins;
  @extend %extend-menu-buttons;
  @extend %extend-button-default;
}

.menu__button-add:hover {
  background: #EFF2FF;
}

@include tablet {
  .menu__button-add {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
}

@include phoneMax {
  .menu__button-add {
    width: 30px;
    height: 30px;
    border-radius: 9px;
    padding: auto;
  }
}
