.popup__input {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #cbcfdd;
  border-radius: 9px;
  width: 90%;
  height: 35px;
  padding: 5px;
  margin-bottom: 15px;
  opacity: 0.8;
}

@include tablet {
  .popup__input {
    height: 25px;
    font-size: 12px;
    line-height: 14px;
  }
}

@include phoneMax {
  .popup__input {
    height: 20px;
    font-size: 10px;
    line-height: 12px;
  }
}
