.menu {
  position: absolute;
  background-color: #FBFAFF;
  height: $min-height;
  padding: 30px;
}

@include laptopMin {
  .menu {
    padding: 15px;
  }
}

@include tablet {
  .menu {
    padding: 10px;
  }
}
