.tracker__button-delete {
  background-image: $buttonHabbitDelete;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: 20px;

  @extend %extend-button-default;
}

.tracker__button-delete:hover {
  opacity: 0.6;
}

@include tablet {
  .tracker__button-delete {
    background-size: 100%;
    height: 15px;
    width: 15px;
  }
}

@include phoneMax {
  .tracker__button-delete {
    background-size: 100%;
    height: 12px;
    width: 12px;
  }
}
