.tracker__button-add {
  background-color: $color-light-purple;
  color: $color-blue;
  font-family: $font-family-default;
  border-radius: 10px;
  width: 120px;

  @extend %extend-button-default;
  @extend %extend-margins;
}

.tracker__button-add:hover {
  opacity: 0.8;
  border: 1px solid #cbcfdd;
}

@include laptopMin {
  .tracker__button-add {
    width: 100px;
    font-size: 12px;
    line-height: 14px;
  }
}

@include tablet {
  .tracker__button-add {
    font-size: 10px;
    line-height: 12px;
  }
}
