.tracker__button-add {
  background-color: $color-light-purple;
  color: $color-blue;
  border-radius: 10px;
  width: 120px;

  @extend %extend-button-default;
  @extend %extend-margins;
}

.tracker__button-add:hover {
  opacity: 0.8;
  border: 1px solid #cbcfdd;
}
