.popup__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  border-radius: 10px;
  width: 500px;
  height: 400px;
}

@include tablet {
  .popup__container {
    width: 400px;
    height: 300px;
  }
}

@include phoneMax {
  .popup__container {
    width: 260px;
    height: 220px;
  }
}
