.tracker__day {
  font-family: $font-size-default;
  color: $color-white;
  background-color: $color-blue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  border-radius: 10px 0 0 10px;
  border: 1px solid $color-blue;
  text-align: center;
  min-width: 130px;
  height: 50px;
  padding-top: 15px;

  @extend %extend-margins;
}

@include desktopMin {
  .tracker__day {
    font-size: 16px;
    line-height: 18px;
  }
}

@include laptopMax {
  .tracker__day {
    min-width: 100px;
    font-size: 14px;
    line-height: 16px;
    padding-top: auto;
  }
}

@include laptopMin {
  .tracker__day {
    min-width: 80px;
    font-size: 12px;
    line-height: 14px;
  }
}
