.menu__button-item {
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);

  @extend %extend-margins;
  @extend %extend-menu-buttons;
  @extend %extend-button-default;
}


.menu__button-item:hover {
  background: #6A6AFB;
}

.menu__button-item:hover img {
  filter: brightness(0) invert(1);
}

@include tablet {
  .menu__button-item {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
}

@include phoneMax {
  .menu__button-item {
    width: 30px;
    height: 30px;
    border-radius: 9px;
  }
}
