.tracker__text {
  font-family: $font-family-default;
  color: $color-default;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 35px;
}

@include laptopMax {
  .tracker__text {
    font-size: 16px;
    line-height: 18px;
  }
}

@include laptopMin {
  .tracker__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@include tablet {
  .tracker__text {
    font-size: 12px;
    line-height: 14px;
  }
}
